In [3]:
import pandas as pd
df=pd.read_csv('BankCustomerData.csv')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,term_deposit
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [9]:
from sklearn.preprocessing import LabelEncoder
cols=['job','marital','education','default','housing','loan','contact','month','poutcome','term_deposit']
le=LabelEncoder()
for col in cols:
    df[col]=le.fit_transform(df[col])
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,term_deposit
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0

In [11]:
x=df.drop(['loan'],axis=1)
y=df['loan']
x.head()

,age,job,marital,education,default,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,term_deposit
0,58,4,1,2,0,2143,1,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,2,5,8,198,1,-1,0,3,0

In [13]:
y.head()

0    0
1    0
2    1
3    0
4    0
Name: loan, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)
X_train

,age,job,marital,education,default,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,term_deposit
6071,52,1,1,3,0,-4,0,2,26,8,336,3,-1,0,3,0
34189,27,8,2,3,0,1444,0,0,4,8,130,1,91,2,0,0
35735,23,1,2,1,0,0,1,0,8,8,6,5,350,2,0,0
35079,48,2,0,1,0,2,1,0,6,8,593,2,281,4,0,0
29406,29,9,2,1,0,286,0,1,2,3,70,2,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16304,25,4,1,2,0,937,1,0,23,5,115,1,-1,0,3,0
79,55,7,0,1,1,1,1,2,5,8,208,1,-1,0,3,0
12119,54,1,1,0,0,1033,0,2,20,6,152,3,-1,0,3,0
14147,44,3,1,0,0,71,1,0,11,5,251,2,-1,0,3,0
38408,29,1,1,1,0,47,1,0,15,8,245,1,-1,0,3,0

In [25]:
X_test

,age,job,marital,education,default,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,term_deposit
2693,34,1,1,1,0,-100,1,2,13,8,109,9,-1,0,3,0
41903,77,5,1,3,0,1807,0,1,20,10,373,1,-1,0,3,1
24030,38,6,1,2,0,0,0,0,29,1,117,3,-1,0,3,0
42278,67,5,1,1,0,1146,0,0,13,9,259,1,92,2,0,1
41144,64,5,1,1,0,4083,0,0,18,1,117,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30214,36,9,0,1,0,3270,0,1,5,3,44,1,-1,0,3,0
42547,30,1,1,0,0,5,0,0,23,2,282,1,203,1,2,1
29023,31,9,2,1,1,25,0,0,2,3,381,1,-1,0,3,0
11494,38,10,1,0,0,338,0,2,19,6,219,2,-1,0,3,0
32707,40,1,1,3,0,928,1,0,17,0,53,1,-1,0,3,0

In [27]:
y_train

6071     0
34189    0
35735    0
35079    1
29406    0
        ..
16304    0
79       0
12119    0
14147    0
38408    1
Name: loan, Length: 29847, dtype: int64

In [29]:
y_test

2693     0
41903    0
24030    0
42278    0
41144    0
        ..
30214    0
42547    0
29023    0
11494    0
32707    0
Name: loan, Length: 12792, dtype: int64

In [31]:
from sklearn.preprocessing import StandardScaler
sl=StandardScaler()
X_train=sl.fit_transform(X_train)
X_test=sl.fit_transform(X_test)

In [35]:
X_train

array([[ 1.09407984, -1.00976939, -0.2625028 , ..., -0.20085816,
         0.40757165, -0.32041747],
       [-1.35688591,  1.12650698,  1.38556643, ...,  0.64859469,
        -2.73741055, -0.32041747],
       [-1.74904044, -1.00976939,  1.38556643, ...,  0.64859469,
        -2.73741055, -0.32041747],
       ...,
       [ 1.2901571 , -1.00976939, -0.2625028 , ..., -0.20085816,
         0.40757165, -0.32041747],
       [ 0.3097708 , -0.39940471, -0.2625028 , ..., -0.20085816,
         0.40757165, -0.32041747],
       [-1.16080865, -1.00976939, -0.2625028 , ..., -0.20085816,
         0.40757165, -0.32041747]])

In [37]:
X_test

array([[-0.65383536, -1.00644902, -0.26960082, ..., -0.27198813,
         0.41046417, -0.31907489],
       [ 3.56216676,  0.21385342, -0.26960082, ..., -0.27198813,
         0.41046417,  3.13406047],
       [-0.26164911,  0.51892904, -0.26960082, ..., -0.27198813,
         0.41046417, -0.31907489],
       ...,
       [-0.94797504,  1.43415587,  1.382883  , ..., -0.27198813,
         0.41046417, -0.31907489],
       [-0.26164911,  1.73923148, -0.26960082, ..., -0.27198813,
         0.41046417, -0.31907489],
       [-0.06555599, -1.00644902, -0.26960082, ..., -0.27198813,
         0.41046417, -0.31907489]])

In [41]:
from sklearn.ensemble import RandomForestClassifier
cls=RandomForestClassifier(n_estimators=10,criterion="entropy")
cls.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [45]:
y_pred=cls.predict(X_test)

In [47]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [49]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[10422,   240],
       [ 1972,   158]], dtype=int64)

In [51]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,term_deposit
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42634,21,8,2,1,0,2488,0,0,1,12,4,661,2,92,1,2,1
42635,87,5,1,0,0,2190,0,0,1,12,4,512,2,-1,0,3,1
42636,34,1,1,0,0,6718,0,0,0,13,4,278,4,97,1,1,0
42637,22,8,2,1,0,254,0,0,0,13,4,143,2,-1,0,3,1
42638,32,4,2,2,0,1962,0,0,0,13,4,130,1,-1,0,3,0

In [57]:
new_data=[[4,5,67,10,33.0,126,0,9,55,91.1,236,35,80,564,32,1]]
y_pred=cls.predict(new_data)
y_pred

array([0], dtype=int64)