In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
df=pd.read_csv('bike_dataset.csv')
df.head()

,model_name,price,CC,mileage,type_of_bike,weight_in_kg,links,acceleration_speed,top_speed
0,Gravton Motors Quanta,99000,NaN,320.0,Electric Bike,100,https://www.carandbike.com/gravton-motors-bike...,4.2,70.0
1,Simple Energy One,109999,NaN,236.0,Electric Bike,110,https://www.carandbike.com/simple-energy-bikes...,3.6,100.0
2,Okaya Classiq,69900,NaN,200.0,Electric Bike,95,https://www.carandbike.com/okaya-bikes/classiq,NaN,25.0
3,Oben Electric Rorr,102999,NaN,200.0,Electric Bike,120,https://www.carandbike.com/oben-electric-bikes...,3.0,100.0
4,Ola Electric S1,85099,NaN,181.0,Electric Bike,121,https://www.carandbike.com/ola-electric-bikes/s1,2.9,116.0

In [13]:
x=df[['model_name','mileage','weight_in_kg','top_speed']]
y=df['price']
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=104,test_size=0.25, shuffle=False)
print(x_train.head())
print(x_test.head())
print(f'y \n{y_train.head()}')
print(y_test.head())

              model_name  mileage  weight_in_kg  top_speed
0  Gravton Motors Quanta    320.0           100       70.0
1      Simple Energy One    236.0           110      100.0
2          Okaya Classiq    200.0            95       25.0
3     Oben Electric Rorr    200.0           120      100.0
4        Ola Electric S1    181.0           121      116.0
                  model_name  mileage  weight_in_kg  top_speed
270         Indian Chieftain     20.0           389        NaN
271    Ducati Scrambler 1100     19.2           189        NaN
272  Ducati Multistrada 1260     19.2           232        NaN
273    Triumph Street Triple     19.1           166        NaN
274         Benelli TNT 600i     19.0           231        NaN
y
0     99000
1    109999
2     69900
3    102999
4     85099
Name: price, dtype: int64
270    3201000
271    1099000
272    1599000
273     915000
274     620000
Name: price, dtype: int64